@model AAO_App.Models.Driver
@{
    ViewData["Title"] = "Settings";
    Layout = "_Master";
    var driverId = 1;
}


<div class="container_setting">
    <h1>Indstillinger</h1>
    <div class="content">
        <h3>Notifikationer</h3>
        <div class="row">
            <p class="notification-text">
                Slå push beskeder til, hvis du
                vil have besked, når der sker
                noget i appen.
            </p>
            <label class="switch">
                <input type="checkbox">
                <span class="slider round"></span>
            </label>
        </div>
    </div>
    <div class="content">
        <h3>Standard sprog</h3>
        <div class="row">
            <p>
                Vælg hvilket sprog der skal
                være dit standard sprog
            </p>
        </div>
    </div>
    <div class="language">
        <label> <input type="radio" name="language"> <img src="~/images/uk-flag.png" alt="english"></label>
        <label> <input type="radio" name="language"> <img src="~/images/DK-Denmark-Flag-icon.png" alt="english"></label>
    </div>
    <br />  <br />

    <!-- <form asp-action="Delete">

         <button class="btn-danger floating-button btn-width-100" onclick="Validate(@driverId)">Slet profil</button>

     </form>
        -->


    <button class="btn-danger floating-button btn-width-100"  onclick="Validate(@ViewBag.driverid);"> slet profil </button>


    <!-- Button trigger modal -->
    <!-- Modal -->
    @*<div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
        </div>*@
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/Settings.js" defer></script>
<!--
@section Scripts {

    <script>
    function Validate() {
        debugger


        Swal.fire({
            title: '<h2 style="font-size: 16px;line-height: 1.6rem;font-weight: bolder;">Er du sikker på at du vil slette din profil?</h2>',
            //icon: 'info',
            html:
                '<div class="radio-container">' +
                '<label for="check">' +
                '<input id="check" type="checkbox" class= "checkbox-round" checked="checked" >' +
                'Tryk for at slette profil' +
                '</label>' +
                '</div>',
            showDenyButton: true,
            showCancelButton: false,
            confirmButtonText: 'Slet',
            confirmButtonColor: '#00904a',
            denyButtonText: `Annuler`,
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax({
                    url: "/Settings/DeleteDriver/",
                    data:
                    {
                        "id": '@ViewBag.driverid'
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function () {

                        Swal.fire({
                            title: '<p style="font-size: 16px;">Din profil er nu slettet </p>',
                            showDenyButton: true,
                            showCancelButton: false,
                            showConfirmButton: false,
                            //confirmButtonText: 'Annuler',
                            denyButtonText: `Slet`,
                        })
                    },
                    error: function () {
                        alert("Error while inserting data");
                    }
                });
            }
        }
            );}
    
        
            </script>
}
   
    -->